{% extends "base.html" %}

{% block title %}{{view.title}}{% endblock title %}
{% block header1 %}
    <h1>{{view.header}}</h1>
{% endblock header1 %}

{% block content %}
{% if "ok" in request.GET.delete %}
<div id="info" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <p>Movie deleted successfully</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-info" data-dismiss="modal">
                    Close
                </button>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $("#info").modal("show");
    });
</script>
{% endif %}
    {% if object_list|length == 0 %}
        <h2>There are no movies here</h2>
    {% endif %}
    {% for m in object_list %}
        <div class="card mb-2">
            <div class="card-header">
                <a href={% url "movies:infomovie" m.pk %}>{{m.title}} by {{m.director}}{% if m.get_score != None %}, {{m.get_score|floatformat:1}}/10{% endif %}</a>
            </div>
            <div class="card-body">
                <ul>
                {% for s in m.screenings.all %}
                    {% if s.is_upcoming %}
                        <li>
                            <a href={% url "movies:makereservation" s.pk %}>{{s.date}} in room {{s.room.name}} with {{s.get_free_seats}} seats available</a>
                        </li>
                    {% endif %}
                {% endfor %}
                </ul>
            </div>
            {% if delete_movie == "yes" %}
            <div class="card-footer">
                <a class="btn btn-danger" href="{% url 'movies:deletemovie' m.pk %}">Remove</a>
            </div>
            {% endif %}
        </div>
    {% endfor %}
{% endblock content %}
