{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}Login{% endblock title %}
{% block header1 %}<h1>Login Page</h1>{% endblock header1 %}

{% block content %}

{% if "notok" in request.GET.auth %}
<div class="alert alert-danger" role="alert">
    You need to be logged in to view this page!
</div>
{% endif %}

<div class="container" style="margin-top:30px">
    <div class="row">
        <div class="col" style="border-right: 1px solid rgba(32, 30, 39, 0.692); height: 100%;">
            <form method="post"> {% csrf_token %}
                {{form | crispy}}
                <input type="submit" class="btn btn-info" value="Login">
            </form>
        </div>
        <div class="col d-flex align-items-center justify-content-center">
            <a class="btn btn-info" href="/admin/">Admin Login</a>
        </div>
    </div>
</div>
{% endblock content %}