{% extends "base.html" %}

{% block title %}Home{% endblock title %}

{% block content %}
    {% if movies|length == 0 %}
        <h2>There are no upcoming movies</h2>
    {% else %}
        <h2>Upcoming movies:</h2>
    {% endif %}
    <div class="row">
        {% for m in movies %}
            <div class="col">
                <div class="card">
                    <div class="card-header">
                        <a href={% url 'movies:infomovie' m.pk %}>{{m.title}}</a>
                    </div>
                    <div class="card-body">By {{m.director}}</div>
                    <div class="card-footer">{{m.duration}}</div>
                </div>
            </div>
        {% endfor %}
        {% if see_more %}
        <div class="col d-flex align-items-center justify-content-center">
            <a href={% url "movies:upcomingmovies" %}>see more...</a>
        </div>
        {% endif %}
    </div>
    {% if recommended != None %}
        <br>
        <h2>Recommended for you:</h2>
        <div class="row">
            {% for m in recommended %}
                <div class="col">
                    <div class="card">
                        <div class="card-header">
                            <a href={% url 'movies:infomovie' m.pk %}>{{m.title}}</a>
                        </div>
                        <div class="card-body">By {{m.director}}</div>
                        <div class="card-footer">{{m.duration}}</div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endif %}
{% endblock content %}